 @media screen and (max-width: 768px) { /* ใช้ได้กับหน้าจอขนาดเล็กกว่าหรือเท่ากับ 768px */
  /* ซ่อนคอลัมน์ที่ไม่จำเป็น */
.table th.start-col,
.table th.end-col,
.table th.progress-col,
.table th.assign-col,
.table th.status-col,
.table td.start-col,
.table td.end-col,
.table td.progress-col,
.table td.assign-col,
.table td.status-col {
    display: none;
  }

  /* ปรับขนาดคอลัมน์ที่เหลือ */
.table th.id-col,
.table th.name-col,
.table td.id-col,
.table td.name-col {
    width:auto;
  }
}

@media screen and (max-width: 1400px) { /* ใช้ได้กับหน้าจอขนาดเล็กกว่าหรือเท่ากับ 1350px */
  /* ซ่อนคอลัมน์ที่ไม่จำเป็น */
.table th.start-col,
.table th.end-col,
.table td.start-col,
.table td.end-col {
    display: none;
  }

  /* ปรับขนาดคอลัมน์ที่เหลือ */
.table th.id-col,
.table th.name-col,
.table th.progress-col,
.table th.assign-col,
.table th.status-col,
.table td.id-col,
.table td.name-col,
.table td.progress-col,
.table td.assign-col,
.table td.status-col {
    width: auto;
  }
}

 .id-col {
    text-align: center;
  }
.progress-col {
    text-align: center;
  }
.assign-col {
    text-align: center;
  }
.status-col{
    text-align: center;
  }
.action-col{
    text-align: center;
  }
.start-col{
    text-align: center;
  }
.end-col{
    text-align: center;
  } 

  .table-bordered .id-col {
    width: auto;
    text-align: center;
  }
  
  .table-bordered .namepro-col {
    width: auto;
    text-align: center;
  }
  
  .table-bordered .jobtype-col {
    width: auto;
    text-align: center;
  }
  
  .table-bordered .numtask-col {
    width: auto;
    text-align: center;
  }
  
  .table-bordered .comptask-col {
    width: auto;
    text-align: center;
  }
  
  .table-bordered .success-col {
    width: auto;
    text-align: center;
  }
  
  .table-bordered .mannager-col {
    width: auto;
    text-align: center;
  }
  
  .table-bordered .action-col {
    width: auto;
    text-align: center;
  }

  .project-image {
    width: 200px;
    height: 200px;
    text-align: center;
  }
  .project-details {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .class1 {
    text-align: right;
    font-weight: bold;
    width: 200px;
  }
  .class2 {
    text-align: right;
    font-weight: bold;
    width: 100px;
    padding: 5px;

  }
  
  .class3 {
    text-align: left;
    width: 100px;
  }
  .class4 {
    text-align: left;
    width: 200px;
  }

.back-button {
  display: inline-block;
  width: 30px;
  height: 30px;
/*   background-color: #ccc;   */
  border-radius: 70%;
  text-align: center;
  line-height: 10px;
  font-size: 35px; 
  color: #222e3c;
  text-decoration: none;
}
.containeruser {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  text-align: center;
}

.itemuser1 {
  width: 25%;
  padding: 10px;
  border: 1px solid #ccc;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
